
<div class="row">
<div class="col-md-8">
<table class="table table-bordered">
	<thead>
		<tr>
			<th>
				Vorname
			</th>
			<th>
				Nachname
			</th>
			<th>
			
			</th>
		</tr>
	</thead>
	<tbody>
	<tr ng-repeat="item in lstMitarbeiter">
		<td>
			{{item.Vorname}}
		</td>
		<td>
			{{item.Nachname}}
		</td>
		<td>
			<button class="btn btn-danger">Delete</button>
		</td>
	</tr>
	</tbody>
</table>
</div>
<div class="col-md-4">
	<button class="btn btn-default btn-block" ng-click="LoadTable();">Load Table</button>
</div>
</div>
